//esquema de colores
//primer esquema de color
$white: #fff;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//segundo esquema de color
$fuzzy-wuzzy: #E53653;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
//tercer esquema de color
$eerie-black:#121619;
$raisin-black: #222323;
$niclel: #6C6E70;

//tipografia
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//pesos fuente
$p-light:300;
$regular:400;
$p-black:900;


//tamaños fuente
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

